.main-layout {
  display: flex;

  min-height: calc(100vh - 72px);

  background: var(--falcon-background);

  &__content {
    flex: 1;
    min-width: 0;

    padding: 2rem;

    overflow-x: hidden;
  }
}

@media (max-width: 800px) {
  .main-layout {
    flex-direction: column;

    &__content {
      padding: 1rem;
    }
  }
}