.header {
  &__brand,
  &__user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__brand {
    font-weight: 600;
  }

  &__spacer {
    flex: 1;
  }

  &__user {
    font-size: 0.875rem;
  }
}