<aside class="sidebar">
  <nav>
    <span class="sidebar__group"> Principal </span>

    <a class="sidebar__item" routerLink="/dashboard" routerLinkActive="sidebar__item--active">
      <mat-icon> dashboard </mat-icon>

      <span> Dashboard </span>
    </a>

    <span class="sidebar__group"> Cadastros </span>

    <a class="sidebar__item" routerLink="/partners" routerLinkActive="sidebar__item--active">
      <mat-icon> groups </mat-icon>

      <span> Parceiros </span>
    </a>

    <a class="sidebar__item" routerLink="/projects" routerLinkActive="sidebar__item--active">
      <mat-icon> folder </mat-icon>

      <span> Projetos </span>
    </a>

    <span class="sidebar__group"> Apontamentos </span>

    <a class="sidebar__item" routerLink="/time-entries" routerLinkActive="sidebar__item--active">
      <mat-icon> schedule </mat-icon>

      <span> Meus apontamentos </span>
    </a>
  </nav>

  <div class="sidebar__footer">
    <img src="/branding/falcon-time-mark.svg" alt="" class="sidebar__brand-mark" />

    <span> Falcon Time </span>

    <small> v1.0.0 </small>
  </div>
</aside>
