.project-list__table {
  min-width: 900px;
}

.mat-column-hourlyRate,
.mat-column-estimatedHours,
.mat-column-status,
.mat-column-actions {
  white-space: nowrap;
}

.mat-column-actions {
  width: 110px;
  text-align: center;
}
